html {
    background-color: rgb(17, 17, 22);
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100vw;
}
/*navigation bar*/
nav {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*main navbar*/
nav > ul {
    margin: auto;
    opacity: 0.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-right: calc(2vw + 0.1em);
    margin-left: calc(1vw + 0.1em); */
}
ul {
    list-style: none;
    padding-left: 0;
}

/*elements in the main navbar*/
ul li {
    float: left;
    width: 200px;
    height: 30px;
    background-color: black;
    opacity: 0.8;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    margin: 0.3px 2px; 
    border-radius: 5px;
}

/* hovering over the main navbar elements */
ul li:hover {
    background-color: aqua;
    cursor: pointer;
    color: rgb(53, 65, 1);
    opacity: 1;
}

/*sub-subheadings */
ul li ul span {
    color: rgb(185, 31, 31);
}

/* subheading sections */
ul li ul li {
    display: none;
    color: #fff;
}

/*displaying the elements of the sub menu on hovering*/
ul li:hover ul li {
    display: block;
}

/* display only the subheading titles */
ul li:hover ul li ul li {
    display: none;
}

ul li:hover ul li:hover ul li {
    display: block;
    justify-content: center;
    margin-left: 200px;
}


/*this fixes the displacement of the elements on the sub-submenu*/
ul li:hover ul li:hover ul {
    margin-top: -30px;
}

/*check back here to correct the a tags css*/
.container-first-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('./images/wallpaper.png');
    background-size: cover;
}

.container-second-page, .container-last-page {
    padding: 0px;
    width: 100%;
    height: 100vh;
    margin: auto;
}

/*setting the signin button and the get started button*/
.buttons {
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
}

.buttons:hover {
    cursor: pointer;
}

/*netflix logo separately*/
nav > img, .nav-button {
    height: 50px;
    align-self: flex-start;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.nav-button a{
    text-decoration: none;
    color: white;
}

.nav-button button {
    font-size: calc(1vw + 0.5em);
    white-space: nowrap;
}

/*first page text content*/
.introduction {
    color: #fff;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-size: calc(1rem + 0.5vw);
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 35px;
}

.register {
    height: 35px;
    width:fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
input {
    height: 87%;
    width: 250px;
    font-size: 20px;
    font-weight: 400;
}
.register button {
    height: 100%;
    font-size: 16px;
    font-weight: 600;
}



.divider {
    border-bottom: 4px solid rgb(49, 49, 49);
    width: 100%;
}

.container-second-page {
    display: flex;
    flex-direction: row;
}
.container-second-page h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

.container-second-page h2 {
    font-size: 2rem;
    color: azure;
}

.container-second-page .float-left {
    float: left;
    color: #fff;
    width: 60%;
    margin-top: 100px;
}

.container-second-page img{
    margin-top: 130px;
    margin-bottom: 30px;
    float: right;
    width: 40%;
    border-radius: 2%;
}

.container-second-page a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color: blue;
}


.container-second-page a:hover {
    font-size: 2.5rem;
    color: rgb(28, 184, 184);
    cursor: pointer;
}

/*frequently asked questions*/
.faq {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

/*movies heading*/
.movies span {
    color: white;
    font-weight: bolder;
    font-size: 2em;
    margin: 10px auto 20px auto;
    border-bottom: 2px solid white;
}

/*posters section*/
.posters, .movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*pictures*/
.posters img{
    height: 20%;
    width: 15%;
    border-radius: 5px;
    margin: 4px;
}

@media (max-width: 500px) {
    nav {
        justify-content: center;
    }
    ul li {
        float: none;
    }

    ul li:hover ul li:hover ul li {
        margin-left: 0;
        margin-top: 30px;
        font-size: 0.9em;
        opacity: 1;
        color: rgb(212, 108, 11);
    }

    ul li:hover ul li:hover ul li:not(ul li:hover ul li:hover ul li:first-child) {
        margin-left: 5px;
    }
    ul li:hover ul li:hover ul {
        display: flex;
        flex-direction: row;
        margin-left: -35px;
        margin-right: -12.5px;
    }
    ul li:hover ul li:hover {
        margin-bottom: 30px;
    }

    ul li:nth-child(3):hover {
        margin-bottom: 90px;
    }
    
    .container-second-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1, .container-second-page h1 {
        font-size: 2rem;
    }
    h2, .container-second-page h2 {
        font-size: 1.6rem;
    }
    h3, .container-second-page h3 {
        font-size: 1rem;
    }
    .container-second-page img {
        width: 80%;
        margin-top: 15px;
    }
    .float-left {
        text-align: center;

    }
}